<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="A&amp;J Autofix"
        tools:replace="android:name, android:label"
        android:icon="@mipmap/ic_launcher">
        
        <!-- API Key for Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS0R3NQrhIfMVXvuBIraWdGVBa7ct96-k" />
        
        <!-- Other configurations -->
    </application>
</manifest>
